<nav class="navbar navbar-expand-lg navbar-dark el-main">
  <a class="navbar-brand" href="#">Sunny</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to '總覽', dashboards_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to '費用', costs_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
         <%= link_to '員工', costs_path, class: 'nav-link' %>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-raised btn-primary my-2 my-sm-0', method: :delete %>
      <% end %>
    </form>
  </div>
</nav>
