@import "normalize.css";

body {
  background-image: linear-gradient(to top left, #f48fb1, #d81b60);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

.el-card {
  border: 0;
}

.el-card__header {
  color: white;
  background-image: linear-gradient(125deg, #5494FA, #8CD2FB);
}

.dashboard-card_title {
  margin: 0;
}
.dashboard-card_content {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    position: relative;
    line-height: 2em;

    & + li {
      margin-top: 16px;
    }
  }
}
.dashboard-card_item_btn{
  float: right;
  padding: 8px 24px;
}

.text {
  font-size: 14px;
  color: #222;
}

.item {
  margin-bottom: 18px;
  a {
    text-decoration: none;
  }
}

.el-tag {
  margin-right: 10px;
}

.logo {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  line-height: 60px;
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

.el-menu {
  display: inline-block;
  background: transparent;
  color: white;

  .el-menu-item {
    color: white;

    &:not(.is-disabled):hover {
      background: rgba(#fff, 0.3);
      color: white;
    }

    &.is-active {
      color: white;
    }
  }

  border-color: transparent;
}

.vue-form__fields {
  display: inline-block;
}

.costs-container {
  padding: 0 20px;
}

.costs-title {
  margin: 0;
}

.dashboard-chart {
  margin-top: 24px;
  background-color: white;
  padding-top: 48px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border-radius: 3px;
  overflow: hidden;
}

.items-container {
  .vue-form__fields {
    display: block;
  }
  .el-form-item__content {
    flex: 0 0 250px;
  }
  .el-form-item {
    display: flex;
  }
  .el-table {
    border-radius: 3px;
  }
  .el-form-item__label {
    color: white;
  }
  .el-tabs__nav-wrap::after {
    background-color: transparent;
  }
  .el-tabs__active-bar {
    background-color: white;
  }
  .el-tabs__item {
    color: #f8bbd0;
    &:hover {
      color: white;
    }

    &.is-active {
      color: white;
    }
  }
}
.chart-card {
  margin-top: 16px;
}